* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

:lang(ko) {
  font-family: "Noto Sans KR", serif;
}

.App {
  width: 100vw;
  height: 100vh;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  animation: popup-modal 1s, popout-modal 1s;
}

.login {
  display: none;
  position: absolute;
  width: 20vw;
  height: 45vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: white;
  overflow: hidden;
  animation: popup-modal 1s;
}

@keyframes popup-modal {
  from {
    opacity: 0;
    margin-top: -50px;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}

#login-wrapper {
  width: 100%;
  height: 100%;
  padding: 3rem;
  font-size: 1.5rem;
}

#login-wrapper > form {
  height: 100%;
}

#login-header {
  padding: 0 0 2rem 2rem;
}

.login-p {
  padding: 0.5rem 1rem;
  margin: unset;
}

.login-input {
  margin: 1rem;
}

#login-X_Btn {
  position: absolute;
  top: 3rem;
  right: 2.5rem;
}

#login-bottomBtnDiv {
  position: relative;
  display: flex;
  top: 15%;
}

#login-bottomBtnDiv > button {
  margin: 0 auto;
}

header {
  position: fixed;
  min-width: 1052px;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  transition: opacity 0.2s ease-in-out;
  font-size: 1rem;
  line-height: 100%;
  z-index: 99;
  background-color: white;
}

.header-ul {
  position: relative;
  display: flex;
}

@media (max-width: 860px) {
  .categoryBox {
    width: 100vw;
    max-height: 72px;
    transition: max-height 0.8s ease-out;
    flex-direction: column;
    align-items: center;
  }

  .header-ul:hover {
    max-height: 360px;
    transition: max-height 0.5s ease-in;
  }
}

header ul {
  position: relative;
  margin: 0;
  padding: 1.5vh 6vw;
  list-style: none;
}

header ul > li {
  padding: 0 5vw;
}

.categoryBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1.5vh 6vw;
  font-size: 1.3rem;
}

.category {
  margin: 1vh;
  padding: 0 5vw;
  color: black;
}

.active {
  color: #e53935;
}

header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgb(248, 117, 73);
  display: block;
  bottom: -1px;
}

header ul > li:hover {
  opacity: 0.4;
}

li {
  float: left;
}

a {
  text-decoration: none;
  padding: 1em 0.5em;
  display: block;
}

ul::after {
  content: "";
  display: block;
  clear: both;
}

#header-right {
  position: fixed;
  top: 2vh;
  right: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header-right-login {
  height: 100%;
  margin: unset;
  padding: 0 1.2rem;
  font-size: 2rem;
}

#header-right-login:hover {
  opacity: 0.6;
  cursor: pointer;
}

.account {
  font-size: 3rem;
  cursor: pointer;
}

@media (max-width: 1400px) {
  #header-right {
    top: 6rem;
  }

  #header-right-login {
    position: absolute;
    top: 80vh;
    left: 0;
    box-shadow: -2px -2px 4px 0.5px rgba(0, 0, 0, 0.2);
    padding: 1rem 0.5rem;
  }
}

#header-right-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 70%;
  overflow: hidden;
}

main {
  position: relative;
  top: 8vh;
  height: calc(100vh - 8vh);
  overflow: auto;
}

.main-home-wrapper {
  width: 100%;
  height: calc(100% - 8vh);
  padding: 0 10vw;
  float: left;
}

.main-home-header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  height: 40%;
  background: rgba(238, 52, 167, 0.253);
  padding: 3vh 3vw;
  margin: 3vh 0;
}

.main-home-header > pre {
  margin: unset;
}

.main-home-content {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  height: 50%;
  background: #43a6df;
  padding: 5vh 5vw;
  text-align: end;
}

pre {
  font-family: inherit;
}

.main-introduction {
  width: 100%;
  height: 100%;
}

.main-introduction-wrapper {
  position: relative;
  top: 4vh;
  width: 100%;
  height: calc(100% - 4vh);
  padding: 0 10vw;
  float: left;
}

.main-introduction-content {
  position: relative;
  display: grid;
  color: white;
  width: 100%;
  height: 90%;
  background: #6c6e94;
  padding: 3vh 2vw;
  grid-template-columns: 40% 60%;
  overflow: hidden;
}

.main-introduction-content-professor {
  position: relative;
  padding: 3vh 2vw;
  width: 100%;
  height: 100%;
}

.main-introduction-content-professor-imgdiv {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-introduction-content-professor-imgdiv-innerdiv {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 260px;
  height: 260px;
  background-image: url(./res/image/shine.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-introduction-content-professor-name {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-height: 500px) {
  .main-introduction-content-professor-name {
    top: 60%;
  }
}

@media (max-height: 420px) {
  .main-introduction-content-professor-name {
    top: 63%;
  }
}

.main-introduction-content-professor-prevbtn,
.main-introduction-content-professor-nextbtn {
  position: absolute;
  top: 80%;
  left: 20%;
  padding: 1rem;
  margin: 2rem 2rem;
  background-color: inherit;
}

.main-introduction-content-professor-nextbtn {
  margin: 2rem 2rem;
  left: unset;
  right: 20%;
}

@media (max-width: 1280px) {
  .main-introduction-content-professor-imgdiv-innerdiv {
    width: 172px;
    height: 172px;
  }
}

@media (max-width: 1080px) {
  .main-introduction-content-professor-prevbtn,
  .main-introduction-content-professor-nextbtn {
    padding: 0.5rem;
  }
}

@media (max-width: 885px) {
  .main-introduction-content-professor-prevbtn,
  .main-introduction-content-professor-nextbtn {
    margin: 0.5rem;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .main-introduction-content-professor-imgdiv-innerdiv {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 680px) {
  .main-introduction-content-professor-prevbtn,
  .main-introduction-content-professor-nextbtn {
    display: none;
  }
}

@media (max-width: 480px) {
  .main-introduction-content-professor-imgdiv-innerdiv {
    width: 48px;
    height: 48px;
  }
}

.main-introduction-content-dept_software_wrapper::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 90%;
  background-color: pink;
  opacity: 0.4;
}

.main-introduction-content-dept_software {
  display: flex;
  position: relative;
  height: 100%;
  padding: 4vh 4vw;
  justify-content: flex-start;
  align-items: center;
  line-height: 5vh;
}

.main-introduction-content-dept_software-p {
  float: left;
  width: 24rem;
}

.main-profile-wrapper {
  position: relative;
  top: 4vh;
  width: 100%;
  height: calc(100% - 4vh);
  padding: 0 10vw;
}

.main-profile-content {
  position: relative;
  display: grid;
  justify-content: center;
  height: 80%;
  background: #ebedee;
  padding: 3vh 3vw;
  grid-template-columns: repeat(3, 20vw);
  grid-template-rows: repeat(2, 30vh);
  column-gap: 3vw;
  row-gap: 3vh;
}

.profile_box {
  height: 100%;
  background-color: white;
  position: relative;
}

.profile_color {
  height: 6vh;
}

.profile_name {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 5em;
  padding-right: 0.5em;
}

.profile_img {
  border-radius: 50%;
  width: 4vw;
  height: 9vh;
  position: absolute;
  top: 8px;
  left: 18px;
}

.profile_date {
  padding-left: 2vw;
}

.main-profile-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vw;
  margin: auto;
  width: 83%;
  height: 8%;
  background: orange;
}

.main-profile-pagination-ul {
  padding: 0;
  list-style: none;
}

.main-profile-pagination li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vw;
}

.main-profile-pagination-ul > li > span {
  font-size: 1.5rem;
  cursor: pointer;
}

.main-profile-pagination li span:hover {
  color: white;
}

.main-location {
  width: 100%;
  height: 100%;
}

.main-location-wrapper {
  position: relative;
  top: 4vh;
  width: 100%;
  height: calc(100% - 4vh);
  padding: 0 10vw;
  float: left;
}

.main-location-content {
  position: relative;
  color: white;
  height: 90%;
  background: #00b0ff;
  padding: 2vh 2vw;
  display: grid;
  grid-template-rows: 60% 40%;
  overflow: hidden;
}

.main-location-map {
  display: relative;
  overflow: hidden;
  height: 75vh;
}

.main-location-map-kakaoAPImap {
  position: relative;
  margin: 0 auto;
}

.main-location-map-description {
  position: relative;
  top: 80%;
  text-align: center;
}

.main-location-coming_way {
  padding: 1rem 1rem;
}

.main-community-wrapper {
  position: relative;
  top: 4vh;
  width: 100%;
  height: calc(100% - 12vh);
  padding: 0 10vw;
  float: left;
}

.main-community-content {
  height: 90%;
  background: #e9c295;
  padding: 3vh 2vw;
  font-size: 1rem;
}

.main-community-posts-head {
  padding: 1vh 2vw;
  height: 10%;
  display: grid;
  grid-template-columns: 7% 73% 10% 10%;
  text-align: center;
  border-bottom: 1px solid grey;
}

.main-community-posts-body {
  height: 90%;
}

.post {
  display: flex;
  margin: 1.5vh 1vw;
}

.main-community-posts-no-example {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-community-posts-title-example {
  display: flex;
  justify-content: center;
  flex: 7;
  cursor: pointer;
}

.main-community-posts-title-example:hover {
  text-decoration: underline;
}

.main-community-posts-author-example {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-community-posts-date-example {
  flex: 1;
  margin-left: 1vw;
}

.main-community-posts-no,
.main-community-posts-title,
.main-community-posts-author,
.main-community-posts-no-example,
.main-community-posts-title-example,
.main-community-posts-author-example {
  position: relative;
  margin: auto;
  overflow: hidden;
  font-size: 1.25rem;
}

.main-community-posts-title-example {
  margin: auto 0;
  text-align: left;
  padding: 0 1.5rem;
}

.main-community-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vw;
  height: 10%;
  background: #ff8f00;
  position: relative;
}

.main-community-functions {
  position: absolute;
  top: 6px;
  right: 6px;
}

.main-community-functions > button {
  background: inherit;
  text-align: center;
  border-style: none;
  font-size: 1rem;
}

.main-community-functions > button:hover {
  cursor: pointer;
  color: white;
}

.main-community-pagination-ul {
  padding: 0;
  list-style: none;
}

.main-community-pagination li {
  padding: 2vw;
}

.pageNumber {
  font-size: 1.5rem;
}

.pageNumber:hover {
  cursor: pointer;
  color: white;
}

.saveModal {
  display: none;
  position: absolute;
  width: 20vw;
  height: 45vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: white;
  overflow: hidden;
  animation: popup-modal 1s;
}

.community_save {
  padding: 2vw 2vw;
}

.exitBtn {
  font-size: 1.2rem;
  position: absolute;
  top: 2vh;
  right: 1vw;
  z-index: 100;
  cursor: pointer;
}

#saveBtn {
  position: absolute;
  bottom: 1.2vh;
  right: 2vw;
}

.form-group > textarea {
  margin-top: 1vh;
  resize: none;
}

.home {
  background: #ffcdd2;
}

.introduction {
  background: rgb(133, 114, 168);
}

.profile {
  background: #ebedee;
}

.location {
  background: #ebedee;
}

.community {
  background: #ebedee;
}

@media (max-width: 960px),
  (max-height: 720px) /*,
  (orientation: landscape) */ /* 가로 모드일 때 지정 */ {
  body {
    font-size: 14px;
  }
}

@media (max-width: 600px),
  (max-height: 480px) /*,
  (orientation: landscape) */ /* 가로 모드일 때 지정 */ {
  body {
    font-size: 12px;
  }
}

@media (max-height: 600px) {
  .main-introduction-content {
    top: 3vh;
  }
}

@media (max-height: 480px) {
  .main-introduction-content {
    top: 4.5vh;
  }
}

.show {
  display: block;
}
