* {
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

:lang(ko) {
  font-family: "Noto Sans KR", serif;
}

.App {
  width: 100vw;
  height: 100vh;
}

header {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8vh;
  transition: 0.3s ease-in-out;
  visibility: visible;
  font-size: 1rem;
  line-height: 100%;
  z-index: 99;
  background-color: white;
}

.toggle_header {
  display: none;
  position: absolute;
  left: 26px;
  top: 18px;
  font-size: 1.2em;
  z-index: 100;
}

.login_icon {
  position: absolute;
  top: 2vh;
  right: 2vw;
  z-index: 100;
  width: 4vw;
  height: 4vh;
}

.login_wrapper {
  width: 20%;
  margin: 2vh auto;
}

.button_wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5vh;
}

.signup_wrapper {
  width: 25%;
  margin: 2vh auto;
}

.signup_form {
  border: 1px solid black;
}

.signup_name {
  width: 10vw;
  display: inline-block;
  margin-left: 1vw;
}

.signup_id {
  width: 7vw;
  display: inline-block;
  margin-left: 0.5vw;
}

.input_date {
  margin-left: 0.5vw;
  margin-bottom: 0.5vh;
}

.signup_img {
  border-radius: 50%;
  width: 4vw;
  height: 9vh;
  float: left;
  /* margin-left: 0.5vw; */
  z-index: 100;
}

.signup_pw {
  display: inline-block;
  width: 70%;
  left: 20%;
}

.categoryBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1.5vh 2vw;
  font-size: 1.3rem;
}

.home_icon_wrapper {
  padding: 0;
}

.home_icon {
  position: absolute;
  top: 25%;
  left: 20px;
  width: 30px;
  height: 30px;
}

.category {
  margin: 1vh;
  padding: 0 3vw;
  color: black;
}

.active {
  color: #e53935;
}

header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgb(248, 117, 73);
  display: block;
  bottom: -1px;
}

header ul > li:hover {
  opacity: 0.4;
}

li {
  float: left;
}

a {
  text-decoration: none;
  padding: 1em 0.5em;
  display: block;
}

ul::after {
  content: "";
  display: block;
  clear: both;
}

main {
  position: relative;
  top: 8vh;
  height: calc(100vh - 8vh);
  overflow: auto;
}

.main-home-wrapper {
  width: 100%;
  height: calc(100% - 8vh);
  padding: 0 10vw;
  float: left;
}

.main-home-header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  height: 40%;
  background: rgba(238, 52, 167, 0.253);
  padding: 3vh 3vw;
  margin: 3vh 0;
}

.main-home-header > pre {
  margin: unset;
}

.main-home-content {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  height: 50%;
  background: #43a6df;
  padding: 5vh 5vw;
  text-align: end;
}

pre {
  font-family: inherit;
}

.main-introduction {
  width: 100%;
  height: 100%;
}

.main-introduction-wrapper {
  position: relative;
  top: 4vh;
  width: 100%;
  height: calc(100% - 4vh);
  padding: 0 10vw;
  float: left;
}

.main-introduction-content {
  position: relative;
  display: grid;
  color: white;
  width: 100%;
  height: 90%;
  background: #6c6e94;
  padding: 3vh 2vw;
  grid-template-columns: 40% 60%;
  overflow: hidden;
}

.main-introduction-content-professor {
  position: relative;
  padding: 3vh 2vw;
  width: 100%;
  height: 100%;
}

.main-introduction-content-professor-imgdiv {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-introduction-content-professor-imgdiv-innerdiv {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 260px;
  height: 260px;
  background-image: url(./res/image/shine.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-introduction-content-professor-name {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translateX(-50%);
}

.main-introduction-content-professor-prevbtn,
.main-introduction-content-professor-nextbtn {
  position: absolute;
  top: 80%;
  left: 20%;
  padding: 1rem;
  margin: 2rem 2rem;
  background-color: inherit;
}

.main-introduction-content-professor-nextbtn {
  margin: 2rem 2rem;
  left: unset;
  right: 20%;
}

.main-introduction-content-dept_software_wrapper::before {
  content: "";
  display: block;
  position: absolute;
  width: 2px;
  height: 90%;
  background-color: pink;
  opacity: 0.4;
}

.main-introduction-content-dept_software {
  display: flex;
  position: relative;
  height: 100%;
  padding: 4vh 4vw;
  justify-content: flex-start;
  align-items: center;
  line-height: 5vh;
}

.main-introduction-content-dept_software-p {
  float: left;
  width: 24rem;
}

.main-profile-wrapper {
  position: relative;
  top: 4vh;
  width: 100%;
  height: calc(100% - 4vh);
  padding: 0 10vw;
}

.main-profile-content {
  position: relative;
  display: grid;
  justify-content: center;
  height: 80%;
  background: #ebedee;
  padding: 20px 30px;
  grid-template-columns: repeat(3, 290px);
  grid-template-rows: repeat(2, 30vh);
  column-gap: 35px;
  row-gap: 25px;
}

.profile_box {
  min-width: 280px;
  height: 100%;
  background-color: white;
  position: relative;
}

.profile_img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  float: left;
  margin: 0 0.5em;
}

.profile_color {
  height: 6vh;
}

.profile_name {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-right: 0.5em;
}

.profile_date {
  padding-left: 2vw;
}

.main-profile-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 940px;
  margin: auto;
  height: 8%;
  background: orange;
}

.main-profile-pagination-ul {
  padding: 0;
  list-style: none;
}

.main-profile-pagination li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vw;
}

.main-profile-pagination-ul > li > span {
  font-size: 1.5rem;
  cursor: pointer;
}

.main-profile-pagination li span:hover {
  color: white;
}

.main-location {
  width: 100%;
  height: 100%;
}

.main-location-wrapper {
  position: relative;
  top: 4vh;
  width: 100%;
  height: calc(100% - 4vh);
  padding: 0 10vw;
  float: left;
}

.main-location-content {
  position: relative;
  color: white;
  height: 90%;
  background: #00b0ff;
  padding: 2vh 2vw;
  display: grid;
  grid-template-rows: 60% 40%;
  overflow: hidden;
}

.main-location-map {
  display: relative;
  overflow: hidden;
  height: 75vh;
}

.main-location-map-kakaoAPImap {
  position: relative;
  margin: 0 auto;
}

.main-location-map-description {
  position: relative;
  top: 80%;
  text-align: center;
}

.main-location-coming_way {
  padding: 1rem 1rem;
}

.main-community-wrapper {
  position: relative;
  top: 4vh;
  width: 100%;
  height: calc(100% - 12vh);
  padding: 0 10vw;
  float: left;
}

.main-community-content {
  height: 90%;
  background: #e9c295;
  padding: 3vh 2vw;
  font-size: 1rem;
}

.main-community-posts-head {
  padding: 1vh 2vw;
  height: 10%;
  display: grid;
  grid-template-columns: 7% 73% 10% 10%;
  text-align: center;
}

.main-community-posts-body {
  height: 90%;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  height: 5.5vh;
  border-top: 1px solid rgb(151, 105, 34);
}

.post-idx {
  padding-left: 3.8vw;
  flex: 1;
}

.post-title {
  flex: 7;
  padding: 0;
  cursor: pointer;
}

.post-title:hover {
  text-decoration: black underline;
}

.post-author {
  flex: 1;
}

.post-date {
  font-size: 1rem;
  flex: 1;
  overflow-y: hidden;
}

.writePageBtn {
  display: flex;
  justify-content: flex-end;
}

.main-community-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vw;
  height: 10%;
  background: #ff8f00;
  position: relative;
}

.main-community-pagination-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
}

.main-community-pagination li {
  padding: 2vw;
}

.pageNumber {
  font-size: 1.5rem;
}

.pageNumber:hover {
  cursor: pointer;
  color: white;
}

.writeBtn {
  position: absolute;
  right: 10px;
}

.write {
  padding-top: 5vh;
  width: 60vw;
  margin: auto;
}

.btn {
  margin-left: 1vw;
}

.postBtn {
  display: flex;
  justify-content: flex-end;
}

#exampleFormControlTextarea1 {
  resize: none;
}

.community_post {
  padding: 2vw 2vw;
}

.home {
  background: #ebedee;
}

.introduction {
  background: #ebedee;
}

.profile {
  background: #ebedee;
}

.location {
  background: #ebedee;
}

.community {
  background: #ebedee;
}

.login {
  background: #ebedee;
}

.signup {
  background: #ebedee;
}

/* 반응형 css */

@media screen and (max-width: 960px) {
  .header {
    visibility: none;
    height: 0vh;
  }

  .categoryBox {
    flex-direction: column;
  }

  .toggle_header {
    display: block;
    cursor: pointer;
  }

  .header.active {
    visibility: visible;
    height: 200px;
  }
}

@media (max-width: 1400px) {
  .main-profile-pagination {
    min-width: 854px;
  }
}
