* {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}

:lang(ko) {
  font-family: 'Noto Sans KR', serif;
}

.App {
  width: 100vw;
  height: 100vh;
}

header {
  position: fixed;
  min-width: 1052px;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  transition: opacity 0.2s ease-in-out;
  font-size: 1rem;
  line-height: 100%;
}

.header-ul {
  position: relative;
  display: flex;
}

@media (max-width: 480px) {
  .header-ul {
    width: 100vw;
    max-height: 72px;
    transition: max-height .8s ease-out;
    flex-direction: column;
    align-items: center;
  }

  .header-ul:hover {
    max-height: 360px;
    transition: max-height .5s ease-in;
  }
}

header nav {
  background: rgba(0, 0, 0, 0.1);
}

header ul {
  position: relative;
  margin: 0;
  padding: 1.5vh 5vw;
  list-style: none;
}

header ul > li {
  padding: 0 5vw;
}

header::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgb(248, 117, 73);
  display: block;
  bottom: -1px;
}

header ul > li:hover {
  opacity: 0.4;
}

li {
  float: left;
}

a {
  text-decoration: none;
  padding: 1em 0.5em;
  display: block;
}

ul::after {
  content: '';
  display: block;
  clear: both;
}

header nav p {
  position: fixed;
  right: 8rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

main {
  position: relative;
  top: 8vh;
  height: calc(100vh - 8vh);
  overflow: auto;
}

.main-home-wrapper {
  width: 100%;
  height: calc(100% - 8vh);
  padding: 0 10vw;
  float: left;
}

.main-home-header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  height: 40%;
  background: rgba(238, 52, 167, 0.253);
  padding: 3vh 3vw;
  margin: 3vh 0;
}

.main-home-content {
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  height: 50%;
  background: #43a6df;
  padding: 5vh 5vw;
  text-align: end;
}

pre {
  font-family: inherit;
}

.main-introduction {
  width: 100%;
  height: 100%;
}

.main-introduction-wrapper {
  position: relative;
  top: 4vh;
  width: 100%;
  height: calc(100% - 4vh);
  padding: 0 10vw;
  float: left;
}

.main-introduction-content {
  position: relative;
  display: grid;
  color: white;
  width: 100%;
  height: 90%;
  background: #6c6e94;
  padding: 3vh 2vw;
  grid-template-columns: 40% 60%;
  overflow: hidden;
}  

.main-introduction-content-professor {
  position: relative;
  padding: 3vh 2vw;
  width: 100%;
  height: 100%;
}

.main-introduction-content-professor-imgdiv {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-introduction-content-professor-imgdiv-innerdiv {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 260px;
  height: 260px;
  background-image: url(./res/image/shine.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-introduction-content-professor-name {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-height: 500px) {
  .main-introduction-content-professor-name {
    top: 60%;
  }
}

@media (max-height: 420px) {
  .main-introduction-content-professor-name {
    top: 63%;
  }
}

.main-introduction-content-professor-prevbtn,
.main-introduction-content-professor-nextbtn {
  position: absolute;
  top: 80%;
  left: 20%;
  padding: 1rem;
  margin: 2rem 2rem;
  background-color: inherit;
}

.main-introduction-content-professor-nextbtn {
  margin: 2rem 2rem;
  left: unset;
  right: 20%;
}

@media (max-width: 1280px) {
  .main-introduction-content-professor-imgdiv-innerdiv {
    width: 172px;
    height: 172px;
  }
}

@media (max-width: 1080px) {
  .main-introduction-content-professor-prevbtn,
  .main-introduction-content-professor-nextbtn {
    padding: .5rem;
  }
}

@media (max-width: 885px) {
  .main-introduction-content-professor-prevbtn,
  .main-introduction-content-professor-nextbtn {
    margin: .5rem;
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .main-introduction-content-professor-imgdiv-innerdiv {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 680px) {
  .main-introduction-content-professor-prevbtn,
  .main-introduction-content-professor-nextbtn {
    display: none;
  }
}

@media (max-width: 480px) {
  .main-introduction-content-professor-imgdiv-innerdiv {
    width: 48px;
    height: 48px;
  }
}

.main-introduction-content-dept_software_wrapper::before {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 90%;
  background-color: pink;
  opacity: 0.4;
}

.main-introduction-content-dept_software {
  display: flex;
  position: relative;
  height: 100%;
  padding: 4vh 4vw;
  justify-content: flex-start;
  align-items: center;
  line-height: 5vh;
}

.main-profile-wrapper {
  position: relative;
  top: 4vh;
  width: 100%;
  height: calc(100% - 4vh);
  padding: 0 10vw;
  float: left;
}

.main-profile-content {
  position: relative;
  display: grid;
  justify-content: center;
  height: 80%;
  background: #9dd9fc;
  padding: 3vh 3vw;
  grid-template-columns: 20vw 20vw 20vw;
  grid-template-rows: 30vh 30vh;
  column-gap: 3vw;
  row-gap: 4vh;
}

.main-profile-content-table {
  height: 100%;
  box-shadow: -2px -2px 4px .5px rgba(0, 0, 0, .05);
}

.main-profile-content-table tr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-profile-content-thead {
  height: 20%;
}

.main-profile-content-thead td {
  margin: 0 1vw;
}

.main-profile-content-tfoot td {
  margin: 0 1vw;
}

.main-profile-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vw;
  height: 10%;
  background:rgb(233, 141, 111);
}

.main-profile-pagination button {
  height: 4vh;
  margin: 8vw;
  background:rgb(233, 141, 111);
  text-align: center;
  border-style: none;
}

.main-profile-pagination button:hover {
  opacity: 0.2;
}

.main-profile-pagination-start {

}

.main-profile-pagination-ul {
  padding: 0;
  list-style: none;
}

.main-profile-pagination li {
  padding: 2vw;
}

.main-profile-pagination li:hover {
  opacity: 0.2;
}

.main-profile-pagination-end {

}

.main-location {
  width: 100%;
  height: 100%;
}

.main-location-wrapper {
  position: relative;
  top: 4vh;
  width: 100%;
  height: calc(100% - 4vh);
  padding: 0 10vw;
  float: left;
}

.main-location-content {
  color: white;
  height: 90%;
  background: #ec9bc3;
  padding: 3vh 2vw;
}  

.main-community-wrapper {
  position: relative;
  top: 4vh;
  width: 100%;
  height: calc(100% - 4vh);
  padding: 0 10vw;
  float: left;
}

.main-community-content {
  color: white;
  display: grid;
  height: 80%;
  background: #e9c295;
  padding: 3vh 2vw;
  grid-template-rows: 6% 90% 4%;
}  

.main-community-content-span {
  display: flex;
  align-items: center;
}

.main-community-posts {
  padding: 2vh 2vw;
}

.main-community-posts div {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-community-functions {
  display: flex;
  justify-content: flex-end;
  margin: 0 2rem 0 0;
}

.main-community-functions button {
  border-style: none;
  background-color: inherit;
  color: black;
}

.main-community-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2vw;
  height: 10%;
  background:rgb(241, 168, 208);
}

.main-community-pagination button {
  height: 4vh;
  margin: 8vw;
  background: inherit;
  text-align: center;
  border-style: none;
}

.main-community-pagination button:hover {
  opacity: 0.2;
}

.main-community-pagination-start {

}

.main-community-pagination-ul {
  padding: 0;
  list-style: none;
}

.main-community-pagination li {
  padding: 2vw;
}

.main-community-pagination li:hover {
  opacity: 0.2;
}

.main-community-pagination-end {

}

.home {
  background: #FFCDD2;
}

.introduction {
  background: rgb(133, 114, 168);
}

.profile {
  background: rgb(37, 37, 37);
}

.location {
  background: rgb(143, 214, 224);
}

.community {
  background: rgb(245, 244, 175);
}

@media (max-width: 960px), (max-height: 720px) /*, (orientation: landscape) */ /* 가로 모드일 때 지정 */ {  
  body {
    font-size: 12px;
  }
}

@media (max-width: 600px), (max-height: 480px) /*, (orientation: landscape) */ /* 가로 모드일 때 지정 */ {
  body {
    font-size: 9px;
  }
}

@media (max-height: 600px) {
  .main-introduction-content {
    top: 3vh;
  }
}

@media (max-height: 480px) {
  .main-introduction-content {
    top: 4.5vh;
  }
}